
.inventory
  display: flex
  flex-direction: column
  justify-content: space-between
  box-sizing: border-box
  overflow: hidden
  &-content
    overflow: auto
    display: flex
    gap: 2rem

  &-section
    display: flex
    gap: 1rem
    flex-direction: column
    user-select: none
  &-title
    font-size: 2.2rem
    padding: 0.6rem 0
    text-transform: capitalize
  &-char
    display: flex
    gap: 1rem
  &-items
    display: flex
    flex-wrap: wrap
    gap: 1rem
  &-price
    position: absolute
    bottom: 0
    left: 0
    right: 0
    background: #222
    border-radius: 4px
    padding: 0.2rem 0.4rem
    margin: 0.2rem
    pointer-events: none
  &-slot
    position: relative
    user-select: none
    background: #333337
    padding: 1rem
    border-radius: 5px
    height: 4rem
    width: 6rem
    text-align: center
  &-drag
    cursor: grab
    background: #f33

  &-drag-el
    position: fixed
    pointer-events: none
    box-shadow: 0 0 10px 1px #0006
  &-is-dragging
    opacity: 0.5

  &-stats
    white-space: nowrap
    background: #333337
    padding: 0.5rem 1rem
    border-radius: 5px
    display: flex
    flex-direction: column
    gap: 0.1rem
  &-stat
    display: flex
    justify-content: space-between
    gap: 1rem
  &-bars
    display: flex
    flex-direction: column
    gap: 0.5rem
    margin: 0.5rem 0
  &-not-for-sale
    pointer-events: none
    color: red
    font-size: 0.8em
    padding-bottom: 0.2em
  &-info-bar
    margin-top: 1rem
  &-tooltip
    display: flex
    flex-direction: column
    gap: 0.2rem
