@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap')

body
  background: #121418
  color: #eee
  font-family: 'Roboto Mono', monospace
  margin: 0

.button
  background: #212127
  padding: 0.2rem 1rem
  border-radius: 5px
  font-size: 2rem
  cursor: pointer
  border: none
  color: #eee
  user-select: none
  transition: background-color 200ms
  &:hover
    background-color: #24242f
